
iOS/Journal/AggregatedContentViewController.swift
Android/app/build/outputs/apk/debug/app-debug.apk
Android/app/build/outputs/apk/debug/app-debug.apk
Android/local.properties
*.properties
Android/local.properties
Android/local.properties
Android/app/build/
